<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>graduationServlet</display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.meizu.graduation.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.meizu.graduation.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendPostServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.SendPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPostServlet</servlet-name>
    <url-pattern>/sendPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPostServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.GetPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostServlet</servlet-name>
    <url-pattern>/getPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendPostCommentServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.SendPostCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendPostCommentServlet</servlet-name>
    <url-pattern>/sendPostComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCommentServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.GetCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCommentServlet</servlet-name>
    <url-pattern>/getCommentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.CreateSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSubjectServlet</servlet-name>
    <url-pattern>/createSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStudentSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.GetStudentSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentSubjectServlet</servlet-name>
    <url-pattern>/getStudentSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTeacherSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.GetTeacherSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherSubjectServlet</servlet-name>
    <url-pattern>/getTeacherSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubjectCommentServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.GetSubjectCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectCommentServlet</servlet-name>
    <url-pattern>/getSubjectComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetSubjectResourceServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.GetSubjectResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectResourceServlet</servlet-name>
    <url-pattern>/getSubjectResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.GetAllSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSubjectServlet</servlet-name>
    <url-pattern>/getAllSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.SelectSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSubjectServlet</servlet-name>
    <url-pattern>/selectSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendSubjectCommentServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.SendSubjectCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendSubjectCommentServlet</servlet-name>
    <url-pattern>/sendSubjectComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSelectSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.DeleteSelectSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSelectSubjectServlet</servlet-name>
    <url-pattern>/deleteSelectSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>com.meizu.graduation.login.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/modifyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.meizu.graduation.account.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadUserDataServlet</servlet-name>
    <servlet-class>com.meizu.graduation.account.UploadUserDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadUserDataServlet</servlet-name>
    <url-pattern>/uploadUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/deleteSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteResourceServlet</servlet-name>
    <servlet-class>com.meizu.graduation.subject.DeleteResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResourceServlet</servlet-name>
    <url-pattern>/deleteResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMyCommentPostServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.GetMyCommentPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyCommentPostServlet</servlet-name>
    <url-pattern>/getMyCommentPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMyWritePostServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.GetMyWritePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyWritePostServlet</servlet-name>
    <url-pattern>/getMyWritePost</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>com.meizu.graduation.post.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/deletePost</url-pattern>
  </servlet-mapping>
</web-app>